---
const { img, title, colorBorder, colorBg } = Astro.props;
---

<div
  class=`flex flex-col items-center bg-[#f4f4f4] dark:bg-[#1e293b] border border-transparent p-4 rounded-[10px] transition duration-300 hover:border-[${colorBorder}] dark:hover:border-[${colorBorder}] hover:bg-[${colorBg}] dark:hover:bg-[${colorBg}]`
>
  <img src={img} alt={title} class="w-12 h-12" />
  <span class="mt-2">{title}</span>
</div>
