---
import astro from "../assets/skills/astro.webp";
import tailwind from "../assets/skills/tailwind.webp";
import react from "../assets/skills/react.webp";
import java from "../assets/skills/java.webp";
import laravel from "../assets/skills/laravel.webp";
import mysql from "../assets/skills/mysql.webp";
import ts from "../assets/skills/ts.webp";
import python from "../assets/skills/python.webp";
import git from "../assets/skills/git.webp";
---

<section
  class="py-12 px-4 dark:bg-[#001320] bg-[#f4f4f4] text-gray-700 dark:text-white text-center"
>
  <h2 class="text-3xl md:text-4xl font-bold text-[#525d86] uppercase">
    Mis Habilidades
  </h2>

  <div class="gap-8 max-w-5xl mx-auto mt-14">
    <!-- Habilidades Principales -->
    <div
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6 place-items-center"
    >
      <!-- Tarjeta -->
      <div
        class="flex flex-col items-center justify-center bg-white dark:bg-[#001320] p-4 rounded-lg shadow-md w-32 h-36"
      >
        <img
          src={astro.src}
          loading="lazy"
          alt="Astro"
          class="w-12 h-12 rounded-md"
        />
        <span class="mt-2 text-lg text-center">Astro</span>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white dark:bg-[#001320] p-4 rounded-lg shadow-md w-32 h-36"
      >
        <img
          src={tailwind.src}
          loading="lazy"
          alt="Tailwind"
          class="w-12 h-12 rounded-md"
        />
        <span class="mt-2 text-lg text-center">Tailwind</span>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white dark:bg-[#001320] p-4 rounded-lg shadow-md w-32 h-36"
      >
        <img
          src={ts.src}
          loading="lazy"
          alt="Typescript"
          class="w-12 h-12 rounded-md"
        />
        <span class="mt-2 text-lg text-center">Typescript</span>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white dark:bg-[#001320] p-4 rounded-lg shadow-md w-32 h-36"
      >
        <img
          src={react.src}
          loading="lazy"
          alt="React"
          class="w-12 h-12 rounded-md"
        />
        <span class="mt-2 text-lg text-center">React</span>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white dark:bg-[#001320] p-4 rounded-lg shadow-md w-32 h-36"
      >
        <img
          src={java.src}
          loading="lazy"
          alt="Java"
          class="w-12 h-12 rounded-md"
        />
        <span class="mt-2 text-lg text-center">Java</span>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white dark:bg-[#001320] p-4 rounded-lg shadow-md w-32 h-36"
      >
        <img
          src={laravel.src}
          loading="lazy"
          alt="Laravel"
          class="w-12 h-12 rounded-md"
        />
        <span class="mt-2 text-lg text-center">Laravel</span>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white dark:bg-[#001320] p-4 rounded-lg shadow-md w-32 h-36"
      >
        <img
          src={mysql.src}
          loading="lazy"
          alt="MySQL"
          class="w-12 h-12 rounded-md"
        />
        <span class="mt-2 text-lg text-center">MySQL</span>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white dark:bg-[#001320] p-4 rounded-lg shadow-md w-32 h-36"
      >
        <img
          src={git.src}
          loading="lazy"
          alt="Python"
          class="w-12 h-12 rounded-md"
        />
        <span class="mt-2 text-lg text-center">Git</span>
      </div>

      <div
        class="flex flex-col items-center justify-center bg-white dark:bg-[#001320] p-4 rounded-lg shadow-md w-32 h-36"
      >
        <img
          src={python.src}
          loading="lazy"
          alt="Python"
          class="w-12 h-12 rounded-md"
        />
        <span class="mt-2 text-lg text-center">En curso...</span>
      </div>
    </div>
  </div>
</section>
